/* เพิ่มโค้ดส่วนนี้เข้าไปในไฟล์ */

.login-form-container .ant-input,
.login-form-container .ant-input-password {
  border-color: #888 !important; /* สีขอบปกติ */
}

.login-form-container .ant-input:hover,
.login-form-container .ant-input-password:hover {
  border-color: #f1d430ff !important; /* สีขอบเมื่อเมาส์ชี้ */
}

.login-form-container .ant-input:focus,
.login-form-container .ant-input-password:focus,
.login-form-container .ant-input-focused,
.login-form-container .ant-input-password-focused {
  border-color: #f1d430ff !important; /* สีขอบเมื่อกดใช้งาน */
  box-shadow: 0 0 0 2px rgba(241, 212, 48, 0.2) !important; /* เงาเมื่อกดใช้งาน */
}